@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');


body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    outline: 0;
}
a, h1, p{
    color: #fff;
    text-decoration: none;
}

@media screen and (orientation: landscape) {

    #wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #header{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #000;

    }
    #header-inner{
        width: 1280px;
        min-height: 143px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #logo{
        font-family: Century Gothic;
        font-size: 50px;
        margin: 0 60px;
        letter-spacing: 0.05em;
        color: #ebebeb;
    }
    #logo:hover{
        color: #fff;
    }
    #side-links{
        font-size: 35px;
        margin: 0 60px;
    }
    #side-links>a{
        margin-left: 25px;
        color: #ebebeb;
    }
    #side-links>a:hover{
        color: #fff;
    }
    #content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #first-block{
        width: 100%;
        background: #212121;
        display: flex;
        justify-content: center;
    }
    #first-block-inner{
        width: 1280px;
        height: 416px;
        padding: auto;
        display: flex;
        justify-content: flex-start;
    }
    #first-block-text-block{
        width: 813px;
        height: 221px;
        margin: 55px 0 0 60px;
        font-family: Inter;
        letter-spacing: 0.05em;



    }
    #first-block-text-block-headline{
        font-weight: 300;
        font-size: 30px;

    }
    #first-block-text-block-text{
        font-weight: 200;
        line-height: 30px;
        font-size: 19px;
    }
    #first-block-text-block-leave-request{
        width: 229px;
        height: 42px;
        font-family: Inter;
        font-size: 18px;
        line-height: 42px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        /*align-items: center;*/
        /*text-align: center;*/
        letter-spacing: 0.05em;
        background: #050505;
        border-radius: 4px;
    }
    #first-block-text-block-leave-request:hover{
        animation: changelink .3s;
        color: #050505;
        background: #fff;
    }
    @keyframes changelink {
        from{
            color: #fff;
            background: #050505;
        }
        to{
            color: #050505;
            background: #fff;
        }
    }
    #first-block-image-block{
        width: 182px;
        height: 365px;
        margin: 25px 0 0 120px;
        background-image: url(../dbfb15e1c537755aafd115dbf575cab5.jpg);
        background-size: cover;
    }
    #second-block{
        width: 100%;
        background: #000;
        display: flex;
        justify-content: center;
    }
    #second-block-inner{
        min-height: 416px;
        min-width: 1280px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #second-block-headline{
        font-family: Inter;
        font-size: 25px;
        line-height: 60px;
        letter-spacing: 0.05em;
        font-weight: 300;
        margin: 54px 0 0 0;
        height: 60px;
    }
    #second-block-pics{
        margin: 26px 0 0 0;
    }
    #second-block-texts{
        width: 86%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        letter-spacing: 0.03em;
        font-family: Inter;
        font-weight: 300;
    }
    #second-block-texts>p{
        color: rgba(255,255,255,0.8);

    }
    #second-block-vector{
        width: 878px;
        height: 109px;
    }

    #third-block{
        width: 100%;
        display: flex;
        justify-content: center;
        background-image: url("../vape steam background.png");
        background-size: cover;
    }
    #third-block-inner{
        min-width: 1280px;
        min-height: 416px;
        display: flex;
        justify-content: space-between;
    }
    #third-block-texts{
        display: flex;
        flex-direction: column;
    }
    #third-block-headline{
        color: #000;
        font-family: Inter;
        font-weight: 400;
        margin: 70px 0 0 60px;
        letter-spacing: 0.05em;
        font-size: 25px;
        line-height: 35px;
    }
    #third-block-headline-gradient{
        background: linear-gradient(45deg, #8d49c0 0%, #dc487b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #third-block-list{
        font-family: Inter;
        font-size: 20px;
        letter-spacing: 0.05em;
        font-weight: 400;
        margin: 25px 0 0 40px;
        display: flex;
        flex-direction: column;
    }
    #third-block-list>li{
        line-height: 45px;

    }
    #third-block-image-block{
        display: flex;
    }
    #third-block-image{
        width: 250px;
        margin: 0 137px 0 0;
    }

    #fourth-block{
        width: 100%;
        background: #212121;
        display: flex;
        justify-content: center;
    }
    #fourth-block-inner{
        width: 1280px;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #fourth-block-headline{
        color: #FFFAFA;
        font-family: Inter;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.03em;
        font-weight: 300;
        margin: 60px 0 0 0;
    }
    #fourth-block-leave-request{
        margin: 45px 0 0 0;
        display: flex;

    }
    #fourth-block-leave-request-input{
        width: 300px;
        height: 42px;
        outline: 0;
        border: 0;
        line-height: 40px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-family: Inter;
        font-weight: 300;
        font-size: 18px;
        padding: 0 0 0 12px;
    }
    #fourth-block-leave-request-button{
        color: #fff;
        width: 229px;
        height: 42px;
        font-family: Inter;
        font-size: 18px;
        line-height: 42px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        letter-spacing: 0.05em;
        background: #050505;
        border: 0;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    #fourth-block-leave-request-button:hover{
        color: #050505;
        background: #f5f5f5;
        cursor: pointer;
        animation: changelink .3s;
    }


    #footer{
        width: 100%;
        background: #000;
        display: flex;
        justify-content: center;
    }
    #footer-inner{
        width: 1280px;
        min-height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Inter;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.05em;

    }
    #footer-feedback-text{
        text-align: end;
    }

}



::selection{
    background: #e1e1e1;
    color: #000;
}



















